<div
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <img class="rounded-t-lg max-h-64 w-full object-cover object-center" [src]="product.img" alt="" />

  <div class="p-5">
    <h5
      class="mb-5 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ product.name }}
    </h5>
    <div class="flex justify-between items-center">
      <div class="stars flex justify-center">
        <svg
          class="w-4 h-4 text-yellow-300 mr-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">
          {{ product.rating }}
        </p>
      </div>
      <a
        href="#"
        (click)="switchModal()"
        class="px-3 py-3 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-600"
      >
        Review
      </a>
    </div>
  </div>
</div>

<!-- ---- -->
<div
  *ngIf="showModal"
  class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0"
  x-transition:enter="transition ease duration-300"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease duration-300"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
>
  <!-- Modal -->
  <div
    *ngIf="showModal"
    class="bg-white rounded-xl shadow-2xl p-6 w-[700px] min-w-[300px] mx-10"
    x-transition:enter="transition ease duration-100 transform"
    x-transition:enter-start="opacity-0 scale-90 translate-y-1"
    x-transition:enter-end="opacity-100 scale-100 translate-y-0"
    x-transition:leave="transition ease duration-100 transform"
    x-transition:leave-start="opacity-100 scale-100 translate-y-0"
    x-transition:leave-end="opacity-0 scale-90 translate-y-1"
  >
    <!-- Title -->
    <span class="font-bold block text-2xl mb-3"
      >Tell us what you think about {{ product.name }}</span
    >
    <form [formGroup]="reviewForm" (ngSubmit)="sendReview()">
      <textarea
        id="message"
        formControlName="feedbackText"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Write your review here..."
      ></textarea>
      <div class="mt-6 flex items-center">
        <p class="pr-4">Your Rating:</p>
        <div class="relative inline-flex">
          <svg
            class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 412 232"
          >
            <path
              d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
              fill="#648299"
              fill-rule="nonzero"
            />
          </svg>
          <select
            class="border border-gray-300 rounded-lg text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
            formControlName="rating"
          >
            <option selected>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-right space-x-5 mt-5">
        <button
          (click)="switchModal()"
          class="p-3 text-sm bg-white rounded-lg border transition-colors duration-150 ease-linear border-gray-200 text-gray-500 focus:outline-none focus:ring-0 font-medium hover:bg-gray-50 focus:bg-indigo-50 focus:text-indigo"
        >
          Cancel
        </button>
        <button
          href="#"
          class="p-3 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-600"
        >
          Review
        </button>
      </div>
    </form>
  </div>
</div>
